.home{
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    color: blue;
}

.searchBar{
    height: 10vh;
    background-color: #04BF8A;
    border-bottom:"1px solid silver";
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

/* home left screen content css */
.information{
    width: 25%;
    height:90vh;
background-color: #262626;
border-right: 1px solid silver;

display: flex;
flex-direction: column;


}
.top {
    display: flex;
flex-direction: column;
gap: 0;
align-items: center;


    /* border-bottom: 2px solid #586673; */
   
}
/* .information img{
   
   
    max-width:100%;
    max-height: 100%;
   
   
    
} */
.informationNavigate{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
}
.link{
    width: 200px;
    text-align: center;
    border-bottom: 2px solid #586673;
}
.link:hover{
background-color:#586673 ;

}
/* -------------------------------------------------------------- */

/* home middle screen content css */
.posts{
    width: 50%;
    background-color: white;
    overflow-y:scroll;
    
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
    
    
}
.homePost{
    
    background-color: white;
    border-radius: 10px;
    width: 100%;
    border-bottom:"1px solid silver";
    flex-direction: column;
    align-items:flex-start;
   
    
}
.search{
    height: 50%;
    width: 30vw;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
background-color: white;
    /* justify-self: center; */
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
     margin-top: 15px;
    margin-bottom: 10px;
    gap: 10px;
}
.search input{
    border-radius: 10px;
    width: 100%;
  height: 95%;
  border: none;
  
  
}
.search button{
    width: 70px;
    height: 35px;
    color: white;
    background-color: #262626;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}
.textArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: rgb(245, 243, 243); */
    border-bottom:"1px solid silver";
    height: 8vh;
}
.textArea textarea{
    width:85%;font-size: 17px;
    border: 1px solid  rgb(245, 243, 243);
background-color: rgb(245, 243, 243);
border-radius: 1px ;
text-align: center;
    
    
}
.textArea button{
    width: 70px;
    height: 35px;
    
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    color: blue;
}
/* -------------------------------------------------------------- */

/* home Right screen content css */
.users{
    width: 25%;
    /* background-color: white; */
    justify-self: right;
   border-left: 1px solid silver;
    display: flex;
flex-direction: column;
align-items: center;
}
.users button{
    width: 35%;
    background-color:#04BF8A ;
    color: white;
    border: none;
    border-bottom: 2px solid white ;
    align-self: flex-end;
    cursor: pointer;
    font-size: 18px;
}

.users button:hover{
    background-color: #171C26;
}


.follower{
    width: 25%;
    /* background-color: white; */
    /* justify-self: right; */
   border-left: 1px solid silver;
    display: flex;
flex-direction: column;
/* align-items: center */
}
/* -------------------------------------------------------------- */
.chatFriend{
    display: flex;
    align-items: center;
    font-weight: 400;
cursor: pointer;
margin-top: 10px;
}
.chatFriend:hover{
    background-color: rgb(245, 243, 243);
}

.imgContainer{
    position: relative;
    margin-left: 10px;
}

.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid white
}
.chatOnlineName{
    margin-left: 10px;
}
.chatOnlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    
    
}



/* //-------------------------------- */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  /* ----------------------------------------- */
  .Send:hover{
      background-color: rgb(248, 237, 237);
  }