.home{
    display: flex;
    flex-direction: row;
    gap: 10px;
}



/* home left screen content css */
.information{
    width: 25%;
    
background-color: #171C26;

border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;

}
.top {
    display: flex;
flex-direction: column;
align-items: center;
    border-bottom: 2px solid #586673;
   
}
.information img{
    margin-top: 30px;
    border-radius: 50%;
    max-width: 75%;
    max-height: 75%;
    /* width: 150px;
    height: 150px; */
    
}
.informationNavigate{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
}
.link{
    width: 200px;
    text-align: center;
    border-bottom: 2px solid #586673;
}
.link:hover{
background-color:#586673 ;

}
/* -------------------------------------------------------------- */

/* home middle screen content css */
.posts{
    width: 50%;
    background-color: #AEB5BF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homePost{
    
    background-color: #AEB5BF;
    border-radius: 10px;
    width: 100%;
    
    flex-direction: column;
    align-items:flex-start;
    
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}
.search input{
    width: 400px;
  height: 30px;
  border-radius: 10px;
  background-color: #F2EAE4;
}
.search button{
    width: 70px;
    height: 35px;
    color: white;
    background-color: #171C26;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}
.textArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}
.textArea textarea{
    border-radius: 10px;
}
.textArea button{
    width: 70px;
    height: 35px;
    color: white;
    background-color: #171C26;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}
/* -------------------------------------------------------------- */

/* home Right screen content css */
.users{
    width: 25%;
    background-color: #586673;
    border-radius: 10px;
    display: flex;
flex-direction: column;
align-items: center;
}
.users button{
    width: 35%;
    background-color:#586673 ;
    color: white;
    border: none;
    border-bottom: 2px solid white ;
    align-self: flex-end;
    cursor: pointer;
}

.users button:hover{
    background-color: #171C26;
}
/* -------------------------------------------------------------- */
