.home{
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
}

.searchBar{
    background-color: #04BF8A;
    border-bottom:"1px solid silver";
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

/* home left screen content css */
.information{
    width: 25%;
    
background-color: #262626;
border-right: 1px solid silver;

display: flex;
flex-direction: column;
align-items: center;

}
.top {
    display: flex;
flex-direction: column;
align-items: center;
    border-bottom: 2px solid #586673;
   
}
.information img{
    /* margin-top: 30px; */
    /* border-radius: 50%; */
    max-width:100%;
    max-height: 100%;
    /* width: 150px;
    height: 150px; */
    
}
.informationNavigate{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
}
.link{
    width: 200px;
    text-align: center;
    border-bottom: 2px solid #586673;
}
.link:hover{
background-color:#586673 ;

}
/* -------------------------------------------------------------- */

/* home middle screen content css */
.posts{
    width: 50%;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homePost{
    
    background-color: white;
    border-radius: 10px;
    width: 100%;
    border-bottom:"1px solid silver";
    flex-direction: column;
    align-items:flex-start;
    
}
.search{
    width: 28%;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
background-color: white;
    /* justify-self: center; */
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
     margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}
.search input{
    border-radius: 10px;
    width: 70%;
  height: 30px;
  border: none;
  
  
}
.search button{
    width: 70px;
    height: 35px;
    color: white;
    background-color: #262626;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}
.textArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
    border-bottom:"1px solid silver"
}
.textArea textarea{
    border-radius: 10px;
    
}
.textArea button{
    width: 70px;
    height: 35px;
    color: white;
    background-color: #262626;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}
/* -------------------------------------------------------------- */

/* home Right screen content css */
.users{
    width: 25%;
    /* background-color: white; */
    justify-self: right;
   border-left: 1px solid silver;
    display: flex;
flex-direction: column;
align-items: center;
}
.users button{
    width: 35%;
    background-color:#04BF8A ;
    color: white;
    border: none;
    border-bottom: 2px solid white ;
    align-self: flex-end;
    cursor: pointer;
}

.users button:hover{
    background-color: #171C26;
}


.follower{
    width: 25%;
    /* background-color: white; */
    justify-self: right;
   border-left: 1px solid silver;
    display: flex;
flex-direction: column;
align-items: center
}
/* -------------------------------------------------------------- */
