.Register {
  justify-self: right;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content:right;
  
  height: 90vh;
}
.reg{
  justify-self:flex-end
}
.Register input {
  max-width: 380px;
  width: 100%;
  
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 50px;
  border-radius: 55px;
  display: grid;
  padding-left: 15px;
  
  position: relative;
  
}
.Register button {
  width: 150px;
  background-color: rgb(104, 190, 104);
  border: none;
  outline: none;
  height: 45px;
  border-radius: 49px;
  color: #fff;
  /* text-transform: uppercase; */
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
