.welcome{
    text-align: left;
    background-color:white;
    display: flex;
    flex-direction: row;
 height: 99vh;
    justify-content:space-between;
    
}

.lefContainer{
    width: 30%;
    text-align: center;
    background-color: #04BF8A;
}
.up{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    height: 50%;
    background-color: #04BF8A;
    align-self: center;
    background-color: #04BF8A;
    
}

.welcomeNavigate{
 
    display: flex;
    flex-direction:row;
    color: rgb(1, 1, 24);
    align-content: center;
    justify-content: right;
    align-self: center;
    width: 121%;
    gap: 20px;
    padding-top: 15px;
    padding-left: 10px;
    height: 50%;
    margin-left:40px;
    margin-top: 30px;
    justify-self: center
}

.welcomeNavigate link{
    color: rgb(0, 0, 0);
}

.image{ align-self: flex-end;
width:50%;
margin-left: 10%;
}