* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:serif

}

.App {
 display: flex;
 flex-direction: column;
 justify-content: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: white;
}

